<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Office TIK - Monitoring Proyek Aplikasi</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="toolbar mt-0" id="kt_toolbar" style="background-color: #FEC91B;">
        <div id="kt_toolbar_container" class="container-fluid d-flex ">
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Manajemen Perencanaan</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade active show">
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
            <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-n2">
                <li class="nav-item">
                    <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_perencanaan" onclick="goToMonitoringProses()">Perencanaan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_pengembangan" onclick="goToMonitoringPublish()">Pengembangan</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="kt_perencanaan" role="tab-panel">
                    <div class="d-flex flex-column gap-7 gap-lg-10">
                        <div class="card card-flush card-sticky">
                            <div class="card col-md-12">
                                <div class="card card-flush mt-0 card-sticky">
                                    <div class="card-header p-9 border-bottom-0">
                                        <div class="card-toolbar my-1">
                                            <!--begin::Search-->
                                            <div class="d-flex align-items-center position-relative my-1">
                                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <input type="text" data-perencanaan="search" class="form-control form-control-solid w-250px ps-14" placeholder="Cari..." id="cariTabelPerencanaan"/>
                                            </div>
                                            <!--end::Search-->
                                        </div>
                                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                            <div class="w-100 mw-150px">
                                            </div>
                                            <button class="btn btn-success" onclick="goToTambahPerencanaan()"><i class="fas fa-plus fs-4 me-2"></i> Tambah</button>
                                        </div>
                                    </div>
                                    <div class="card-body card-sticky pt-9 pt-0" style="margin-top: -50px;">
                                        <div class="table-responsive">
                                            <table id="tabelPerencanaan" class="table table-row-bordered table-hover gy-5 gs-7">
                                                <thead class="fs-7 text-gray-700 text-uppercase" style="font-weight: bold">
                                                <tr>
                                                    <th>Aplikasi</th>
                                                    <th>Versi Aplikasi</th>
                                                    <th>Unit Pengampu</th>
                                                    <th>Bisnis Owner</th>
                                                    <th>Tim Pengembangan</th>
                                                    <th>Deadline Pengembangan</th>
                                                    <th>Status</th>
                                                    <th width="15%">Aksi</th>
                                                </tr>
                                                </thead>
                                                <tbody class="text-gray-600 fw-semibold">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="kt_pengembangan" role="tab-panel">
                    <div class="d-flex flex-column gap-7 gap-lg-10">
                        <div class="card card-flush">
                            <div class="card col-md-12">
                                <div class="card card-flush mt-0">
                                    <div class="card-header p-9 border-bottom-0">
                                        <div class="card-toolbar my-1">
                                            <!--begin::Search-->
                                            <div class="d-flex align-items-center position-relative my-1">
                                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <input type="text" data-monitoringpublish="search" class="form-control form-control-solid w-250px ps-14" placeholder="Cari..." id="cariTabelMonitoringPublish"/>
                                            </div>
                                            <!--end::Search-->
                                        </div>
                                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                            <div class="w-100 mw-150px">
                                            </div>
                                            <button class="btn btn-success" onclick="goToTambahPortofolioAplikasi()"><i class="fas fa-plus fs-4 me-2"></i> Tambah</button>
                                        </div>
                                    </div>
                                    <div class="card-body pt-9 pt-0" style="margin-top: -50px;">
                                        <div class="table-responsive">
                                            <table id="tabelMonitoringPublish1" class="table table-row-bordered table-hover gy-5 gs-7">
                                                <thead class="fs-7 text-gray-700 text-uppercase" style="font-weight: bold">
                                                <tr>
                                                    <th>Aplikasi</th>
                                                    <th>Versi Aplikasi</th>
                                                    <th>Unit Pengampu</th>
                                                    <th>Bisnis Owner</th>
                                                    <th>Tim Pengembangan</th>
                                                    <th>Deadline Pengembangan</th>
                                                    <th>Status</th>
                                                    <th width="15%">Aksi</th>
                                                </tr>
                                                </thead>
                                                <tbody class="text-gray-600 fw-semibold">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div layout:fragment="custom-js" th:remove="tag">
    <script th:src="@{/assets/js/djp/custom/baseMonitoringAplikasi.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/djp/custom/indexPerencanaan.js}" type="text/javascript"></script>
    <script>
        "use strict";

        var KTLayoutStickyCard=function() {
            // Private properties
            var _element;
            var _object;

            // Private functions
            var _init=function() {
                var offset=300;

                if (typeof KTLayoutHeader !=='undefined') {
                    offset=KTLayoutHeader.getHeight();
                }

                _object=new KTCard(_element, {
                        sticky: {
                            offset: offset,
                            zIndex: 90,
                            position: {
                                top: function() {
                                    var pos=0;
                                    var body=KTUtil.getBody();

                                    if (KTUtil.isBreakpointUp('lg')) {
                                        if (typeof KTLayoutHeader !=='undefined'&& KTLayoutHeader.isFixed()) {
                                            pos=pos + KTLayoutHeader.getHeight();
                                        }

                                        if (typeof KTLayoutSubheader !=='undefined'&& KTLayoutSubheader.isFixed()) {
                                            pos=pos + KTLayoutSubheader.getHeight();
                                        }
                                    }

                                    else {
                                        if (typeof KTLayoutHeader !=='undefined'&& KTLayoutHeader.isFixedForMobile()) {
                                            pos=pos + KTLayoutHeader.getHeightForMobile();
                                        }
                                    }

                                    pos=pos - 1; // remove header border width

                                    return pos;
                                },
                                left: function(card) {
                                    return KTUtil.offset(_element).left;
                                },
                                right: function(card) {
                                    var body=KTUtil.getBody();

                                    var cardWidth=parseInt(KTUtil.css(_element, 'width'));
                                    var bodyWidth=parseInt(KTUtil.css(body, 'width'));
                                    var cardOffsetLeft=KTUtil.offset(_element).left;

                                    return bodyWidth - cardWidth - cardOffsetLeft;
                                }
                            }
                        }
                    }
                );

                _object.initSticky();

                KTUtil.addResizeHandler(function() {
                        _object.updateSticky();
                    }
                );
            }

            // Public methods
            return {
                init: function(id) {
                    _element=KTUtil.getById(id);

                    if ( !_element) {
                        return;
                    }

                    // Initialize
                    _init();
                },

                update: function() {
                    if (_object) {
                        _object.updateSticky();
                    }
                }
            };
        }();

        // Webpack support
        if (typeof module !=='undefined') {
            module.exports=KTLayoutStickyCard;
        }
    </script>
</div>
</body>
</html>