<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Office TIK - Tambah Portofolio Aplikasi</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

  <div class="toolbar mt-0" id="kt_toolbar" style="background-color: #FEC91B;">
    <div id="kt_toolbar_container" class="container-fluid d-flex ">
      <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
          <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Tambah Portofolio Aplikasi</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-5 pe-0 ps-0">
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
      <div class="card card-flush">
        <form id="formTambahPortofolioAplikasi">
          <div class="card-header" style="background-color: #d3efff;">
            <h3 class="card-title align-items-start flex-column">
              <span >Tambah Portofolio Aplikasi</span>
            </h3>
          </div>
          <div class="card-body pb-0">

            <div class="mb-10 fv-row">
              <label class="required form-label">Nama Aplikasi</label>
              <input type="text" name="inputNamaAplikasi" id="inputNamaAplikasi" class="form-control mb-2" value="" />
            </div>

            <div class="mb-10 fv-row">
              <label class="required form-label">Modul dan Fungsi</label>
              <textarea type="text" name="inputModul" id="inputModul" class="form-control mb-2" rows="2" autocomplete="off"></textarea>
            </div>

            <div class="mb-10 fv-row">
              <label class="required form-label">Seksi Pengembang</label>
              <input type="text" name="inputSeksi" id="inputSeksi" class="form-control mb-2" value="" />
            </div>

            <div class="mb-10 fv-row">
              <label class="required form-label">PIC Pengembang</label>
              <input type="text" name="inputPengembang" id="inputPengembang" class="form-control mb-2" value="" />
            </div>

            <div class="mb-10 fv-row">
              <label class="required form-label">PIC Penguji</label>
              <input type="text" name="inputPenguji" id="inputPenguji" class="form-control mb-2" value="" />
            </div>

            <div class="mb-10 fv-row">
              <label class="required form-label">Bahasa Pemrograman</label>
              <input type="text" name="inputBahasa" id="inputBahasa" class="form-control mb-2" value="" />
            </div>

            <div class="mb-10 d-flex flex-wrap gap-5">
              <div class="fv-row w-100 flex-md-root">
                <label class="required form-label">Status</label>
                <select class="form-select mb-2" name="inputStatus" id="inputStatus" data-control="select2" data-hide-search="true" data-placeholder="Pilih Status">
                  <option value="">Pilih Status</option>
                  <option value="Replaced With CTAS">Replaced With CTAS</option>
                  <option value="untouched">untouched</option>
                  <option value="Adjusted">Adjusted</option>
                  <option value="Support Needed">Support Needed</option>
                  <option value="Terminated">Terminated</option>
                </select>
              </div>
              <div class="fv-row w-100 flex-md-root">
                <label class="required form-label">Proses Bisnis</label>
                <select class="form-select mb-2" name="inputProsesBisnis" id="inputProsesBisnis" data-control="select2" data-hide-search="true" data-placeholder="Pilih Proses Bisnis">
                  <option value="">Pilih Proses Bisnis</option>
                  <option value="Third Party Data Processing">Third Party Data Processing</option>
                  <option value="Taxpayer Service">Taxpayer Service</option>
                  <option value="Tax Return Processing">Tax Return Processing</option>
                  <option value="Tax Account Management">Tax Account Management</option>
                  <option value="Payment">Payment</option>
                  <option value="Others">Others</option>
                  <option value="Exchange of Information">Exchange of Information</option>
                  <option value="Document Management System">Document Management System</option>
                </select>
              </div>
            </div>

            <div class="mb-10 d-flex flex-wrap gap-5">
              <div class="fv-row w-100 flex-md-root">
                <label class="required form-label">Kelompok</label>
                <select  class="form-select mb-2" name="inputKelompok" id="inputKelompok" data-control="select2" data-hide-search="true" data-placeholder="Pilih Kelompok">
                  <option value="">Pilih Kelompok</option>
                  <option value="Pendukung manajemen">Pendukung manajemen</option>
                  <option value="core">core</option>
                  <option value="dss">dss</option>
                  <option value="pendukung core">pendukung core</option>
                </select>
              </div>
            </div>

            <div class="mb-10 fv-row flex-wrap gap-5">
              <label class="form-label">Integrasi</label>
              <div class="checkbox-inline">
                <div class="d-flex align-items-center mb-2" style="margin-left: -15px;">
                  <div class="form-check form-check-custom form-check-solid mx-5">
                    <input class="form-check-input" type="checkbox" name="inputLdap">
                  </div>
                  <div class="flex-grow-1">
                    <span class="text-gray-800 text-hover-primary fw-bolder fs-6">LDAP_SIKKA</span>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-2" style="margin-left: -15px;">
                  <div class="form-check form-check-custom form-check-solid mx-5">
                    <input class="form-check-input" type="checkbox" name="inputDjponline">
                  </div>
                  <div class="flex-grow-1">
                    <span class="text-gray-800 text-hover-primary fw-bolder fs-6">DJPOnline</span>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-2" style="margin-left: -15px;">
                  <div class="form-check form-check-custom form-check-solid mx-5">
                    <input class="form-check-input" type="checkbox" name="inputDjpconnect">
                  </div>
                  <div class="flex-grow-1">
                    <span class="text-gray-800 text-hover-primary fw-bolder fs-6">DJPConnect</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-10 fv-row">
              <label class="form-label">Gitlab</label>
              <textarea type="text" name="inputGitlab" id="inputGitlab" class="form-control mb-2" rows="2" autocomplete="off"></textarea>
            </div>

          </div>

          <div class="card-footer d-flex justify-content-end py-6 pt-0 border-top-0">
            <a class="btn btn-secondary btn-color-gray-700 btn-flex btn-active-primary me-1" href="/portofolio/list">Kembali</a>
            <button type="reset" class="btn btn-light btn-active-light-primary">Reset</button>&nbsp;
            <button type="submit" class="btn btn-primary">Simpan</button>&nbsp;
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div layout:fragment="custom-js" th:remove="tag">
  <script th:src="@{/assets/js/djp/custom/baseAplikasi.js}" type="text/javascript"></script>
  <script th:src="@{/assets/js/djp/custom/portofolioAplikasi.js}" type="text/javascript"></script>
</div>
</body>
</html>