<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>404 - Page Not Found</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="toolbar mt-0" id="kt_toolbar" style="background-color: #FEC91B;">
        <div id="kt_toolbar_container" class="container-fluid d-flex ">
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Page Not Found</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="kt-portlet" style="margin-bottom: 0px">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <img alt="error" th:src="@{/assets/media/error/error1.jpg}" style="width: 100%; height: auto;">
        </div>
    </div>

</div>
<div layout:fragment="custom-js" th:remove="tag">
</div>
</body>
</html>